<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}">
<head><meta charset="UTF-8"></head>
	
	<th:block layout:fragment="css">
		<style type="text/css">
			.data > div {
				background-color: white;
				border-radius: 6px;
				width: 600px;
				margin-bottom: 20px;
				border-spacing: 0;
				padding-bottom: 20px;
				padding-left: 20px;
				padding-right: 20px;
				
			}
			.data-header{
				font-size: 24px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			tr > td:nth-child(1) {
				width: 200px;
			}
		</style>
	</th:block>
	
	
	<th:block layout:fragment="content">
		<div class="data" align="center">
			<div align="left">
				<form th:action="'/user/password'" method="post">
					<div class="data-header">비밀번호 변경</div>
					<table>
						<tr>
							<td>현재 비밀번호</td>
							<td><input autoComplete="off" name="currentPassword" type="password"></td>
						</tr>
						<tr>
							<td>새 비밀번호</td>
							<td><input autoComplete="off" name="newPassword" type="password"></td>
						</tr>
						<tr>
							<td>비밀번호 확인</td>
							<td><input autoComplete="off" name="checkNewPassword" type="password"></td>
						</tr>
					</table>
					<div align="right"><input type="submit" onclick="checkPassword(event)" value="변경"></div>
				</form>
			</div>
		</div>
		<script>
			function checkPassword(e){
				e.preventDefault();
				const form = e.target.form;
				const currentValue = form.currentPassword.value;
				const newValue = form.newPassword.value;
				const checkNewValue = form.checkNewPassword.value;
				
				const check = earyReturnPassword(newValue,checkNewValue);
				if(check.code != 200){
					alert(check.msg);
					return;
				}
				
				form.submit();
			}
			function earyReturnPassword(newValue,checkNewValue){
				if(!new RegExp("^[a-zA-z0-9!@#$%^&*`~]{8,}$").test(newValue))return {msg:'비밀번호는 최소 8자 이상으로 만드셔야 합니다.',code:400}
				if(newValue != checkNewValue)return {msg:'비밀번호가 일치하지 않습니다.',code:400}
				return {code:200}
			}
		</script>
	</th:block>
</html>